body {
	background: $white;
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	color: $black;
}

.main {
	flex: 1 0 auto;
	background: $white;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.hide {
	display: none !important;
}

.map {
	width: calc(100% + 130px);
	margin-left: -130px;
	height: 330px;
	background: url("img/map.png") no-repeat;
	background-size: cover;
	overflow: hidden;

	@media screen and (max-width: 1919px) {
		margin-left: -100px;
		width: calc(100% + 100px);
	}

	@media screen and (max-width: 1365px) {
		height: 230px;
		margin-left: -50px;
		width: calc(100% + 50px);
	}

	@media screen and (max-width: 1023px) {
		height: 200px;
		width: calc(100% + 30px);
		margin-left: -30px;
	}

	@media screen and (max-width: 767px) {
		height: 180px;
		width: calc(100% + 40px);
		margin: 0 -20px;
	}
}
