.footer {
	display: flex;
	border-top: 1px solid $darkLightGray;

	@media screen and (max-width: 767px) {
		flex-flow: column;
	}

	&__part {
		&--left {
			width: calc(50% + 30px);
			padding: 105px 80px 0 130px;
			border-right: 1px solid $darkLightGray;

			@media screen and (max-width: 1919px) {
				padding: 85px 65px 0 100px;
			}

			@media screen and (max-width: 1365px) {
				padding: 60px 50px 0;
			}

			@media screen and (max-width: 1023px) {
				padding-left: 30px;
				padding-right: 30px;
			}

			@media screen and (max-width: 767px) {
				width: 100%;
				padding: 40px 20px 0;
			}
		}

		&--right {
			width: calc(50% - 30px);
			padding: 115px 70px 0 115px;

			@media screen and (max-width: 1919px) {
				padding: 100px 55px 0 70px;
			}

			@media screen and (max-width: 1365px) {
				padding: 60px 40px 0;
			}

			@media screen and (max-width: 1023px) {
				padding-left: 30px;
				padding-right: 30px;
			}

			@media screen and (max-width: 767px) {
				width: 100%;
				padding: 40px 20px 70px;
			}
		}
	}

	&__contacts {
		margin-bottom: 115px;

		@media screen and (max-width: 1919px) {
			margin-bottom: 100px;
		}

		@media screen and (max-width: 1365px) {
			margin-bottom: 70px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 55px;
		}

		@media screen and (max-width: 767px) {
			max-width: 440px;
			margin: 0 auto 40px;
		}
	}

	&__address {
		margin-bottom: 70px;
		position: relative;

		@media screen and (max-width: 1365px) {
			padding-right: 60px;
			margin-bottom: 50px;
		}

		@media screen and (max-width: 1023px) {
			padding-right: 50px;
			margin-bottom: 40px;
		}

		@media screen and (max-width: 767px) {
			padding-right: 40px;
		}

		&:before {
			content: '';
			position: absolute;
			width: 28px;
			height: 42px;
			top: 5px;
			right: 10px;
			background: url("img/point.png") no-repeat;
			background-size: cover;

			@media screen and (max-width: 1365px) {
				width: 24px;
				height: 36px;
			}

			@media screen and (max-width: 767px) {
				width: 21px;
				height: 32px;
			}
		}
	}

	&__title {
		font: 35px $GothamProBold;
		margin-bottom: 10px;
		text-transform: uppercase;

		@media screen and (max-width: 1365px) {
			font-size: 30px;
		}

		@media screen and (max-width: 1023px) {
			font-size: 26px;
		}

		@media screen and (max-width: 767px) {
			font-size: 24px;
		}
	}

	&__descrip {
		font: 14px $GothamProLight;
		letter-spacing: .075em;
		color: $darkGray;

		@media screen and (max-width: 1365px) {
			line-height: 24px;
		}

		@media screen and (max-width: 1023px) {
			font-size: 12px;
			line-height: 20px;
		}

		@media screen and (max-width: 767px) {
			line-height: 18px;
		}
	}

	&__img-wrap {
		position: relative;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 60px;

		@media screen and (max-width: 1365px) {
			margin-bottom: 40px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 30px;
		}

		@media screen and (max-width: 767px) {
			display: none;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: -10px;
			right: -20px;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background: $yellow;
			z-index: -1;

			@media screen and (max-width: 1365px) {
				width: 34px;
				height: 34px;
				right: -15px;
			}
		}
	}

	&__img {
		width: 32px;
		height: 43px;

		@media screen and (max-width: 1365px) {
			width: 26px;
			height: 35px;
		}
	}
}
