.format {
	padding: 300px 30px 150px;
	border-bottom: 1px solid $darkLightGray;

	@media screen and (max-width: 1365px) {
		padding: 170px 30px 110px;
	}

	@media screen and (max-width: 1023px) {
		padding: 130px 20px 70px;
	}

	@media screen and (max-width: 767px) {
		padding: 100px 20px 45px;
	}

	&__block {
		width: 810px;
		margin: 0 auto;

		@media screen and (max-width: 1365px) {
			width: 670px;
		}

		@media screen and (max-width: 1023px) {
			width: 550px;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
			max-width: 440px;
		}
	}

	&__view {
		display: flex;
		justify-content: space-between;
		margin-bottom: 120px;

		@media screen and (max-width: 1365px) {
			margin-bottom: 80px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 50px;
		}

		@media screen and (max-width: 767px) {
			flex-flow: column;
			margin-bottom: 30px;
		}
	}

	&__item {
		@media screen and (max-width: 767px) {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:first-child {
			@media screen and (max-width: 767px) {
				margin-bottom: 20px;
			}
		}
	}

	&__img {
		margin-bottom: 50px;
		position: relative;

		@media screen and (max-width: 1365px) {
			margin-bottom: 30px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 0;
			margin-right: 35px;
		}

		&:before {
			content: '';
			position: absolute;
			width: 126px;
			height: 126px;
			border-radius: 50%;
			background: $yellow;
			z-index: -1;

			@media screen and (max-width: 1365px) {
				width: 96px;
				height: 96px;
			}

			@media screen and (max-width: 1023px) {
				width: 76px;
				height: 76px;
			}

			@media screen and (max-width: 767px) {
				width: 66px;
				height: 66px;
			}
		}

		&--full-time {
			&:before {
				left: -40px;
				bottom: -25px;

				@media screen and (max-width: 767px) {
					left: -25px;
					bottom: -15px;
				}
			}
		}

		&--online {
			&:before {
				top: -25px;
				right: -40px;

				@media screen and (max-width: 767px) {
					top: -15px;
					right: -25px;
				}
			}
		}
	}

	&__name {
		font: 17px $GothamProBold;
		letter-spacing: .2em;
		text-transform: uppercase;
		text-align: center;

		@media screen and (max-width: 1023px) {
			font-size: 15px;
		}

		@media screen and (max-width: 767px) {
			font-size: 14px;
		}
	}

	&__line {
		display: flex;
		align-items: center;
		margin-bottom: 60px;

		@media screen and (max-width: 1023px) {
			margin-bottom: 40px;
		}

		@media screen and (max-width: 767px) {
			flex-flow: column;
			margin-bottom: 20px;
		}

		&-item {
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background: $black;

			@media screen and (max-width: 767px) {
				width: 5px;
				height: 5px;
			}

			&:not(:last-child) {
				margin-right: 15px;

				@media screen and (max-width: 1365px) {
					margin-right: 10px;
				}

				@media screen and (max-width: 767px) {
					margin-right: 0;
					margin-bottom: 5px;
				}
			}

			&:nth-child(n+8) {
				@media screen and (max-width: 767px) {
					display: none;
				}
			}
		}
	}

	&__descrip {
		font: 14px/28px $GothamProLight;
		letter-spacing: .075em;
		color: $darkGray;
		text-align: center;

		@media screen and (max-width: 1365px) {
			line-height: 24px;
		}

		@media screen and (max-width: 1023px) {
			font-size: 12px;
			line-height: 20px;
		}

		@media screen and (max-width: 767px) {
			line-height: 18px;
		}
	}
}
