.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 15;
	display: flex;
	justify-content: flex-end;
	padding: 80px 100px 0;

	@media screen and (max-width: 1919px) {
		padding: 50px 50px 0;
	}

	@media screen and (max-width: 1365px) {
		padding-top: 35px;
	}

	@media screen and (max-width: 767px) {
		padding: 40px 30px 0;
	}
}
