.section {
	position: relative;

	&__name {
		font: 14px $GothamProBold;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: .2em;
		position: absolute;
		transform: rotate(-90deg);
		transform-origin: right;

		@media screen and (max-width: 1365px) {
			transform: rotate(0);
		}

		@media screen and (max-width: 1023px) {
			font-size: 12px;
			transform: rotate(0);
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			width: 45px;
			height: 3px;
			transform: translateY(-50%);
			background: $black;

			@media screen and (max-width: 1023px) {
				height: 2px;
				width: 30px;
			}

			@media screen and (max-width: 767px) {
				width: 25px;
			}
		}

		&--detailed-table {
			top: 190px;
			right: 105px;
			padding-right: 85px;

			@media screen and (max-width: 1365px) {
				top: 100px;
				right: 30px;
			}

			@media screen and (max-width: 1023px) {
				top: 80px;
				padding-right: 55px;
			}

			@media screen and (max-width: 767px) {
				top: 50px;
				padding-right: 40px;
				right: 20px;
			}
		}

		&--format {
			top: 155px;
			right: 100px;
			padding-right: 60px;

			@media screen and (max-width: 1365px) {
				top: 100px;
				right: 30px;
			}

			@media screen and (max-width: 1023px) {
				top: 80px;
				padding-right: 55px;
			}

			@media screen and (max-width: 767px) {
				top: 50px;
				padding-right: 40px;
				right: 20px;
			}
		}

		&--reviews {
			top: 150px;
			right: 105px;
			padding-right: 55px;

			@media screen and (max-width: 1365px) {
				top: 100px;
				right: 30px;
			}

			@media screen and (max-width: 1023px) {
				top: 80px;
				right: 30px;
				padding-right: 55px;
			}

			@media screen and (max-width: 767px) {
				top: 50px;
				padding-right: 40px;
				right: 20px;
			}
		}
	}
}
