.timetable {
	display: flex;
	padding-bottom: 150px;

	@media screen and (max-width: 767px) {
		flex-flow: column;
		padding: 0 30px;
		margin-bottom: 40px;
	}

	&__title-wrap {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		width: 455px;
		min-height: 315px;
		flex: 0 0 auto;
		padding-top: 20px;

		@media screen and (max-width: 767px) {
			width: 100%;
			min-height: 100%;
			max-width: 440px;
			margin: 0 auto 15px;
			padding-top: 0;
			align-items: flex-start;
		}
	}

	&__title {
		font: 35px/42px $GothamProBold;
		letter-spacing: .005em;

		@media screen and (max-width: 767px) {
			font-size: 24px;
			line-height: 28px;
		}
	}

	&__content {
		background: $lightGray;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 200px 0 115px;
		flex: 1 0 auto;

		@media screen and (max-width: 767px) {
			padding: 15px;
			width: 100%;
			max-width: 440px;
			margin: 0 auto;
		}
	}

	&__table {
		display: flex;

		@media screen and (max-width: 767px) {
			flex-flow: column;
		}
	}

	&__day {
		background: $white;
		display: flex;
		align-items: center;
		padding: 20px 30px;

		&:not(:last-child) {
			margin-right: 150px;

			@media screen and (max-width: 767px) {
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}

	&__name {
		font: 35px $GothamProBold;
		text-transform: uppercase;
		margin-right: 30px;

		@media screen and (max-width: 767px) {
			font-size: 24px;
			margin-right: 20px;
		}
	}

	&__wrap {
		display: flex;
		flex-flow: column;
		padding-top: 5px;
	}

	&__time {
		font: 14px $GothamProBold;
		color: $mediumGray;
		letter-spacing: .2em;
		position: relative;
		padding-left: 25px;

		@media screen and (max-width: 767px) {
			font-size: 12px;
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}

		&--start {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 14px;
				height: 14px;
				background: url("img/day.png") no-repeat;
				background-size: cover;
			}
		}

		&--end {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 14px;
				height: 14px;
				background: url("img/night.png") no-repeat;
				background-size: cover;
			}
		}
	}
}
