header.header
	a.btn.btn--burger(href="#")
		small.btn__item
		small.btn__item
		small.btn__item
				
.burger
	ul.menu
		
		- const menuName = ["Условия поступления", "программа курса", "расписание занятий", "Контакты"];
		- const menu = ["#represent", "#questions", "#detailed-table", "#contacts"];
		
		- for (let i = 0; i < 4; i++)
		
			li.menu__item
				a.menu__link(href=menu[i])=menuName[i]
