
<header class="header"><small class="btn btn--burger">
    <svg class="icon icon--burger">
      <use class="icon__item" xlink:href="#burger"></use>
    </svg></small></header>
<div class="burger">
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#contacts">Условия поступления</a></li>
    <li class="menu__item"><a class="menu__link" href="#contacts">программа курса</a></li>
    <li class="menu__item"><a class="menu__link" href="#contacts">расписание занятий</a></li>
    <li class="menu__item"><a class="menu__link" href="#contacts">Контакты</a></li>
  </ul>
</div>