
<header class="header"><a class="btn btn--burger" href="#"><small class="btn__item"></small><small class="btn__item"></small><small class="btn__item"></small></a></header>
<div class="burger">
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#represent">Условия поступления</a></li>
    <li class="menu__item"><a class="menu__link" href="#questions">программа курса</a></li>
    <li class="menu__item"><a class="menu__link" href="#detailed-table">расписание занятий</a></li>
    <li class="menu__item"><a class="menu__link" href="#contacts">Контакты</a></li>
  </ul>
</div>