.form {
	width: 650px;

	&__inputs {
		margin-bottom: 60px;
	}

	&__text {
		font: 14px $GothamProBold;
		letter-spacing: .2em;
		max-width: 250px;
		text-transform: uppercase;
	}

	&__format {
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;
	}

	&__radio-btns {
		display: flex;
		padding-bottom: 15px;
	}
}
