.form {
	width: 650px;

	@media screen and (max-width: 1919px) {
		width: 480px;
	}

	@media screen and (max-width: 1365px) {
		width: 100%;
		max-width: 440px;
	}

	@media screen and (max-width: 767px) {
		width: 100%;
		max-width: 440px;
		margin: 0 auto;
	}

	&__inputs {
		margin-bottom: 60px;

		@media screen and (max-width: 1365px) {
			margin-bottom: 40px;
		}

		@media screen and (max-width: 1023px) {
			margin-bottom: 30px;
		}
	}

	&__text {
		font: 14px $GothamProBold;
		letter-spacing: .2em;
		max-width: 250px;
		text-transform: uppercase;

		@media screen and (max-width: 1023px) {
			font-size: 12px;
			line-height: 18px;
			padding-right: 20px;
		}
	}

	&__format {
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;

		@media screen and (max-width: 1365px) {
			margin-bottom: 30px;
		}

		@media screen and (max-width: 767px) {
			margin-bottom: 50px;
		}
	}

	&__radio-btns {
		display: flex;
		padding-bottom: 15px;

		@media screen and (max-width: 1365px) {
			flex-flow: column;
			padding-bottom: 0;
		}
	}
}
