.icon {
	&--burger {
		width: 26px;
		height: 16px;
	}

	&--in-person {
		width: 63px;
		height: 63px;
		display: inline-block;
		margin-right: 60px;
	}

	&--video {
		width: 63px;
		height: 63px;
		display: inline-block;
		margin-right: 60px;
	}

	&--question {
		transition: transform .25s ease-in-out;

		&-1 {
			width: 60px;
			height: 60px;
		}

		&-2 {
			width: 60px;
			height: 60px;
		}

		&-3 {
			width: 46px;
			height: 60px;
		}

		&-4 {
			width: 56px;
			height: 56px;
		}

		&-5 {
			width: 55px;
			height: 49px;
		}
	}
}
