.info {
	position: relative;

	&__btn {
		width: 32px;
		height: 32px;
		border: 3px solid $black;
		border-radius: 50%;
		font: 20px $GothamProBold;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__descrip {
		display: none;
		position: absolute;
		top: -60px;
		left: -410px;
		width: 390px;
		background: $white;
		border: 1px solid $darkLightGray;
		font: 14px/24px $GothamProLight;
		letter-spacing: .075em;
		color: $darkGray;
		padding: 28px 35px;
	}
}
