.question {
	background: $white;

	&:hover {
		&:first-child {
			.icon--question {
				transform: rotate(45deg);
			}
		}

		&:nth-child(2) {
			.icon--question {
				transform: translate(10px, -10px);
			}
		}
		&:nth-child(3) {
			.icon--question {
				transform: rotate(-30deg);
			}
		}

		&:nth-child(4) {
			.icon--question {
				transform: scale(1.1);
			}
		}

		&:last-child {
			.icon--question {
				transform: translateX(10px);
			}
		}
	}

	&:not(:last-child) {
		margin-bottom: 40px;

		@media screen and (max-width: 767px) {
			margin-bottom: 15px;
		}
	}

	&__header {
		display: flex;
		border-top: 1px solid $darkLightGray;
		border-bottom: 1px solid $darkLightGray;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 160px;
		height: 160px;
		flex: 0 0 auto;
		background: $yellow;

		@media screen and (max-width: 767px) {
			max-width: 70px;
			width: 100%;
			height: auto;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		flex: 1 0 auto;
		padding: 38px 100px 38px 110px;

		@media screen and (max-width: 767px) {
			width: 100%;
			padding: 15px 15px 15px 25px;
			flex: auto;
			flex-flow: column;
			align-items: flex-start;
		}
	}

	&__wrap-title {
		width: 435px;
		padding-right: 50px;

		@media screen and (max-width: 767px) {
			width: 100%;
			padding-right: 0;
			margin-bottom: 10px;
		}
	}

	&__title {
		text-transform: uppercase;
		position: relative;

		&--main {
			font: 18px/32px $GothamProBold;
			letter-spacing: .2em;

			@media screen and (max-width: 767px) {
				font-size: 14px;
				line-height: 20px;
			}

			&:before {
				counter-increment: list;
				content: counter(list) ". ";
			}
		}

		&--sub {
			font: 15px/32px $GothamProBold;
			letter-spacing: .15em;
			margin-bottom: 10px;

			@media screen and (max-width: 767px) {
				font-size: 12px;
				line-height: 24px;
				margin-bottom: 5px;
			}

			&:before {
				counter-increment: list;
				content: counters(list, '.') " ";
			}
		}
	}

	&__wrap-descrip {
		display: flex;
		align-items: center;
		flex: 1 0 auto;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&__descrip {
		font: 14px/28px $GothamProLight;
		color: $darkGray;
		letter-spacing: .075em;

		@media screen and (max-width: 767px) {
			font-size: 12px;
			line-height: 24px;
		}

		&--main {
			max-width: 440px;
		}
	}

	&__btn {
		font: 15px $GothamProBold;
		text-transform: uppercase;
		letter-spacing: .2em;
		color: $black;
		padding-right: 55px;
		position: relative;

		@media screen and (max-width: 767px) {
			font-size: 11px;
			padding-right: 30px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 10px;
			width: 18px;
			height: 10px;
			transform: translateY(-50%);
			transform-origin: 9px 3px;
			transition: transform .25s ease-in-out;
			background: url("../img/arrow.png") no-repeat;
			background-size: cover;
			z-index: 1;

			@media screen and (max-width: 767px) {
				width: 12px;
				height: 7px;
				transform-origin: 6px 2px;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 3px;
			width: 32px;
			height: 32px;
			transform: translateY(-50%);
			transition: opacity .25s ease-in-out;
			background: $yellow;
			opacity: 0;
			z-index: 0;

			@media screen and (max-width: 767px) {
				right: 5px;
				width: 22px;
				height: 22px;
			}
		}

		&--active {
			&:before {
				transform: rotate(180deg);
			}

			&:after {
				opacity: 1;
			}
		}
	}

	&__body {
		display: none;
	}

	&__list {
		padding: 110px 60px 110px 160px;
		counter-reset: list;

		@media screen and (max-width: 767px) {
			padding: 30px 20px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 30px;

			@media screen and (max-width: 767px) {
				margin-bottom: 20px;
			}
		}
	}
}
